<div id="login" class='c'>
	<%= form_tag session_path, :id => "login_form" do -%>
	<p><%= label_tag 'login', "username", :class => "float_label" %><br />
	<%= text_field_tag 'login', @login, :class => "full_w" %></p>

	<p><%= label_tag 'password', "password", :class => "float_label" %><br/>
	<%= password_field_tag 'password', nil, :class => "full_w" %></p>

	<p><%= check_box_tag 'remember_me', '1', @remember_me %><%= label_tag 'remember_me', 'remember me' %></p>

	<p><%= submit_tag 'login' %></p>
	<% end -%>
</div>
