<div class='course_container'>
	<div class='credits'><span class='big'><%= @course.credits %></span><br>credits</div>
	<h2><%= link_to_unless_current("#{@course.code}: #{@course.title}", @course) %></h2>
	<div id='link<%= @course.id %>'>
	<%= link_to_if(@user_courses && @user_courses.include?(@course), "Add course to schedule", schedule_add_course_path(@course), :remote => true){
		link_to_if(@user_courses, "Remove from schedule", schedule_remove_course_path(@course), :remote => true){
			link_to "Add to schedule", "/signup"
		}
	} %></div>
	<em><%= @course.instructor %></em><br />
	<p class='description'><%= @course.description %></p>
	Time: <b><%= @course.time %></b><br />
	<% if is_group?("admin") %>
		<%= link_to 'Edit', edit_course_path(@course) %>
		<%= link_to 'Destroy', @course, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
</div>