<h1>Course Listing</h1>

<% if is_admin? %>
<%= link_to 'New Course', new_course_path %>
<% end %>

<br><br>

<div style="width: 650px; margin: 0 auto; text-align: left;">
<% cc = "" %>
<% @courses.each do |course| %>

	<% if cc != course.subject %>
		<% cc = course.subject %>
		<h2><%= ClassList.to_subject(cc, true) %></h2>
	<% end %>
	
	<b><%= link_to(course.course_code + ": " + course.title, course) %> 
		<span id='link-<%=course.id%>'>
			<%= link_to_unless(current_user.current_schedule.include?(course),
			"Add Course!", "/add_course_remote/#{course.id}", {:remote=>true} ) do
				link_to("Remove course", "/remove_course_remote/#{course.id}", :remote => true)
			end
			 %>
		</span>
		</b><br>
	<i><%= course.instructor %></i> <br>
	<%= course.description %> <br>
	<%= course.time %> <br>
	<i><%= course.credits %> credits</i> <br>

	<% if is_admin? %>
	<%= link_to 'Edit', edit_course_path(course) %> | <%= link_to 'Destroy', course, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
	
	<hr style="width: 500px">
<% end %>
</div>

<br />
