<h2><%= @course.course_code %>: <%= @course.title %></h2>

<p id="notice"><%= notice %></p>
<p>
<i><%= @course.instructor %></i> <br>
<%= @course.description %> <br>
<%= @course.time %> <br>
<i><%= @course.credits %> credits</i> <br><br>
</p>
<% if logged_in? %>
	<%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>
<%= link_to 'Back', courses_path %>
