In order to use this feature, you must make sure that you output the curriculum in Tab-separated (sometimes called tab-delimited) format. Excel allows this, as do most other spreadsheet applications. Just go to "Save As" and change the format.<br /><br />
Also make sure that you check "Delete existing courses" if you intend to upload courses from another semester, so that there is no confusion.<br /><br />

<%= form_tag upload_remote_courses_path, :method => "put", :multipart => true do %>
	<h3><%= label_tag :file, "File to Upload:" %></h3><br />
	<%= file_field_tag :file %>
	<br />
	<h3><%= check_box_tag :delete_all %>
		<%= label_tag :delete_all, "Delete existing courses" %>
	</h3>
	<br /><br />
	<%= submit_tag "Upload" %>
<% end %>