!!!
%html
	%head
		%title
			[plan]-i-fication
			=@title ? " :: " + @title : "" 
		= stylesheet_link_tag :all
		= javascript_include_tag :defaults
		= csrf_meta_tag

	%body
		%div#header
			%a#site_label{:href=>"/"}
				[plan]-i-fication
			%div#nav
				= render "application/menu_links"
	
		%div#content
			%div#flash_messages
				= render "application/update_flash"
			%div#inner-content
				= yield
				.clear
		%div#footer
			= raw( "&copy; #{Time.now.year} | <a href=\"mailto:mnunes@bennington.edu\">Matt Nunes</a>" )
